<%- include('partials/header'); -%>
<h2 class="all">Explore Recipies</h2>
<ul class="recipes">
  <%if(prods.length > 0){%>
    <% prods.forEach((prod) => { %>  
  <li class="recipe">
    <a href="/smoothies/<%=prod._id%>">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4><%= prod.productName%></h4>
    <p><%= prod.description%></p>
    <%if(prod.user_email === user?.email){%>
    <h5 class="all">You posted this</h5>
    <%}else{%>
      <h5 class="h-pink">By: <%=prod.user_email%></h5>
      <%}%>
  </a>
  </li>
  <% }) %>
  <%}else{%>
    <p>No products to dislay</p>
    <%}%>
</ul>

<%- include('partials/footer'); -%>